name: Build Windows Service
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.20'
          
      - name: Clean Go cache and old sum
        run: |
          go clean -modcache
          del go.sum
          
      - name: Update dependencies
        run: |
          go mod init getipviaweb
          go mod tidy
          
      - name: Build Windows service
        run: go build -ldflags="-H windowsgui -s -w" -o GetIPviaWEB.exe main.go
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: GetIPviaWEB
          path: GetIPviaWEB.exe